<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title> To Do </ion-title>
    <!-- <ion-button color="success" slot="end">Update</ion-button> -->
    <!-- <ion-button color="success" slot="end" id="todo-input">Add</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for(item of todos; track item.id){
    <ion-item>
      <h2>{{item.doType}}</h2>
      <ion-button slot="end" color="success" (click)="updateTodo(item)"
        >Update</ion-button
      >
      <ion-button slot="end" color="danger" (click)="deleteDo(item)"
        >Delete</ion-button
      >
    </ion-item>
    } @empty{
    <ion-item>
      <ion-label class="ion-text-center">Nothing to do!</ion-label>
    </ion-item>
    }
    <ion-item>
      @if(inValue){
      <form (ngSubmit)="addTodo($event)" [formGroup]="todoForm">
        <div style="display: flex; flex-direction: row">
          <ion-input
            type="text"
            formControlName="doType"
            [value]="inValue"
            required
          ></ion-input>
          <ion-button type="submit" slote="end">update</ion-button>
        </div>
      </form>
      } @else {
      <form (ngSubmit)="addTodo($event)" [formGroup]="todoForm">
        <div style="display: flex; flex-direction: row">
          <ion-input
            placeholder="Enter your do!"
            type="text"
            formControlName="doType"
            required
          ></ion-input>
          <ion-button type="submit" slote="end">Add</ion-button>
        </div>
      </form>
      }
    </ion-item>
  </ion-list>
</ion-content>
